VWW_Project/WpfApplication1/Service References/Proxy/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Host" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Host" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserData">
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:complexType name="ArrayOfUserData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserData" nillable="true" type="tns:UserData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserData" nillable="true" type="tns:ArrayOfUserData" />
  <xs:complexType name="EventData">
    <xs:sequence>
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isEntireDay" type="xs:boolean" />
      <xs:element minOccurs="0" name="isShared" type="xs:boolean" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventData" nillable="true" type="tns:EventData" />
  <xs:complexType name="ArrayOfEventData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventData" nillable="true" type="tns:EventData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventData" nillable="true" type="tns:ArrayOfEventData" />
</xs:schema>