VWW_Project/WinClient/Service References/ServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56466/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VWWWcfService" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VWWWcfService" minOccurs="0" name="user" nillable="true" type="q1:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VWWWcfService" minOccurs="0" name="LoginResult" nillable="true" type="q2:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VWWWcfService" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q3:ArrayOfUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOnlineUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOnlineUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VWWWcfService" minOccurs="0" name="GetAllOnlineUsersResult" nillable="true" type="q4:ArrayOfUserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="me" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VWWWcfService" minOccurs="0" name="GetAllEventsResult" nillable="true" type="q5:ArrayOfEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VWWWcfService" minOccurs="0" name="newEvent" nillable="true" type="q6:EventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VWWWcfService" minOccurs="0" name="AddEventResult" nillable="true" type="q7:ArrayOfEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VWWWcfService" minOccurs="0" name="event2Edit" nillable="true" type="q8:EventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fromUser" type="xs:int" />
        <xs:element minOccurs="0" name="toUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VWWWcfService" minOccurs="0" name="GetAllMessagesResult" nillable="true" type="q9:ArrayOfMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/VWWWcfService" minOccurs="0" name="msg" nillable="true" type="q10:MessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/VWWWcfService" minOccurs="0" name="SendMessageResult" nillable="true" type="q11:ArrayOfMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>